<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 此过滤器 放在filter的最上面,否则可能 在此 filter 上面的filter 获取的session
  不是从memcache获取的,如果上面的filter 没有用到session则不影响-->
  <filter>
    <filter-name>sessionFilter</filter-name>
    <filter-class>com.hsession.filter.HSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
